body {
      position: relative;
      font-family: "Helvetica Neue", sans-serif;
      width: 100%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 1em;
    }
    #vis { margin-top: 40px;}
    #vis text:hover { opacity: .7 !important;  }
    #presets a { border-left: solid #666 1px; padding: 0 10px; }
    #presets a.first { border-left: none; }
    #keyword { width: 300px; }
    #fetcher { width: 500px; }
    #keyword, #go { font-size: 1.5em; }
    #text { width: 100%; height: 100px; }
    p.copy { font-size: small; }
    #form { font-size: small; position: relative; }
    hr { border: none; border-bottom: solid #ccc 1px; }
    a.active { text-decoration: none; color: #000; font-weight: bold; cursor: text; }
    #angles line, #angles path, #angles circle { stroke: #666; }
    #angles text { fill: #333; }
    #angles path.drag { fill: #666; cursor: move; }
    #angles { text-align: center; margin: 0 auto; width: 350px; }
    #angles input, #max { width: 42px; }
    .hidden { display: none;}


.navbar-inverse {
  background-color: rgba(0,0,0,.65);
  border-color: #080808;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.middle {

  left: -webkit-calc(50% - 600px);
}


section {
  padding: 25px 0 35px;
  background: #fff;
}

.parallax-container {
  height: 500px;
  width: 100%;
}

pre {
  overflow: auto;
}

pre code {
  word-wrap: normal;
  white-space: pre;
}

footer {
  background: #000;
  color: #ddd;
  padding: 30px 0 30px;
  text-align: center;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  color: #eee;
  text-decoration: underline;
}